* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    height: 100vh;
    background-color: #121212;
}
.sidebar{
    width: 200px;
}
.logo{
    color: black;
    width: 200px;
    align-items: center;
    height: 40px;
    display: flex;
    text-decoration: none;
    padding-left: 5px;
}
.create{
    color: white;
    display: flex;
    height: 60px;
    width: 170px;
    /* margin: 25px; */
    margin: 25px 15px 25px 15px;
    justify-content: center;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    align-items: center;
}
nav {
    height: 100%;
    background-color: white;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 16px;
    width: 100%;
}
nav ul li{
    width: 200px;
    align-items: center;

}

nav ul li a{
    display: flex;
    color: black;
    height: 60px;
    width: 200px;
    text-decoration: none;
    align-items: center;
    padding-left: 20px;
    /* justify-content: center; */
}

.logo:hover{
    /* background-color: gray; */
    background-color: rgba(0, 0, 0, .3)
}
nav ul li a:hover{
    /* background-color: gray; */
    background-color: rgba(0, 0, 0, .3)
}